.uploaded-images{
    .close{
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .meta{
        margin-left: 50px;
        margin-right: 100px;
    }

    .item-wrapper{
        position: relative;
    }
}
